body{
    background-color:white;
    color: white;
}

.content
{
    width: 90%;
    margin:auto;
    margin-top: 1rem;
    background-color: cadetblue;
    padding: 3rem;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
}

div.buttons
{
    text-align: center;
}

button.functions{
    background-color:cornflowerblue;
    color: white;
    font-size: 1rem;
    border: solid 0.2rem white;
    width: 10rem;
    height: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

button.functions:hover{
    background-color: darkcyan;
}

