<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
    <title>Home Page</title>
</head>
<body>
    <div class="content">
        <div class="title">
            <h1 class="title">News Classifier App</h1>
        </div>
        <div class="buttons">
            <button class="functions">Models</button>
            <button class="functions">Statistics</button>
            <button class="functions">Prediction</button>
            <button class="functions">Diagrams</button>
            <button class="functions">Predict new article</button>
        </div>
    </div>
</body>
</html>